* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #8acf49;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  /* margin-left: auto;
  margin-right: auto;
  display: block; */
}

.card-item {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #382d6d;
}

.country-list__img {
  width: 40px;
  height: 20px;
  margin-right: 10px;
}

.country-list__item {
  list-style: none;
  color: rgb(50, 50, 109);
  font-size: 24px;
}

.card-item__list {
  list-style: none;
  color: #382d6d;
}
